<form [formGroup]="ratingForm">
  <div class="star-rating">
    <input type="radio" formControlName="rating" id="five-star" class="star-input" value="5">
    <label for="five-star" class="star-label"></label>

    <input type="radio" formControlName="rating" id="four-star" class="star-input" value="4">
    <label for="four-star" class="star-label"></label>

    <input type="radio" formControlName="rating" id="three-star" class="star-input" value="3">
    <label for="three-star" class="star-label"></label>

    <input type="radio" formControlName="rating" id="two-star" class="star-input" value="2">
    <label for="two-star" class="star-label"></label>

    <input type="radio" formControlName="rating" id="one-star" class="star-input" value="1">
    <label for="one-star" class="star-label"></label>
  </div>
</form>
